<p id="notice"><%= notice %></p>

<h1>Rel Bixe Sports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rel_bixe_sports.each do |rel_bixe_sport| %>
      <tr>
        <td><%= link_to 'Show', rel_bixe_sport %></td>
        <td><%= link_to 'Edit', edit_rel_bixe_sport_path(rel_bixe_sport) %></td>
        <td><%= link_to 'Destroy', rel_bixe_sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rel Bixe Sport', new_rel_bixe_sport_path %>
