<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bix.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @bix.telephone %>
</p>

<p>
  <strong>Course:</strong>
  <%= @bix.course %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @bix.tutor %>
</p>

<p>
  <strong>Is valid:</strong>
  <%= @bix.is_valid %>
</p>

<p>
  <strong>Team:</strong>
  <% if  @bix.team_id != nil %>
    <%= Team.find(@bix.team_id).name %>
  <%end%>
</p>

<%= link_to 'Edit', edit_bix_path(@bix) %> |
<%= link_to 'Back', root_path %>
