<% if current_user.admin == true %>
  <%= form_with(model: task, local: true) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "Nome" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label "Descrição" %>
      <%= form.text_field :description %>
    </div>

    <div class="field">
      <%= form.label "Tipo de pontuação" %>
      <%= form.text_field :score_type %>
    </div>

    <div class="field">
      <%= form.label "Tem pontuação" %>
      <%= form.check_box :have_score %>
    </div>

    <div class="field">
      <%= form.label "Grupo?" %>
      <%= form.check_box :group %>
    </div>

    <div class="field">
      <%= form.label "Eviável?" %>
      <%= form.check_box :sendable %>
    </div>

    <div class="field">
      <%= form.label "Máximo de envios" %>
      <%= form.number_field :max_send %>
    </div>

    <div class="field">
      <%= form.label "Tem feedback?" %>
      <%= form.check_box :have_feedback %>
    </div>

    <div class="actions">
      <%= form.submit "Criar nova Tarefa"%>
    </div>
  <% end %>
<% end %>

<% if current_user.admin == false %>
  <%= form_with(model: newcomer_sends_task, local: true) do |form| %>
    <% if newcomer_sends_task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(newcomer_sends_task.errors.count, "error") %> prohibited this newcomer_sends_task from being saved:</h2>

        <ul>
        <% newcomer_sends_task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h1>Mande o arquivo para a prova!</h1>

    <%= form.hidden_field :task_id, :value=>@task.id %>

    <%= form.label "Índice" %>
    <%= form.text_field :index %><br>

    <%= form.label "Foto da prova" %>
    <%= form.file_field :photo %><br>

    <div class="actions">
      <%= form.submit "Enviar arquivo" %>
    </div>
  <% end %>
<% end %>
