<p>Foi criado um novo bixe:</p>
  <p>Nome:         <%= @bixe.name %></p>
  <p>Telefone:     <%= @bixe.telephone %></p>
  <p>Curso:        <%= @bixe.course %></p>
  <p>Tutoria:      <%= @bixe.tutor %></p>
  <p>Modalidades:  <%= @bixe.sports %></p>