<h1>Tarefas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo de Pontuação</th>
      <th>Tem pontuação</th>
      <th>Grupo?</th>
      <th>Enviável?</th>
      <th>Máximo de Envios</th>
      <th>Tem feedback?</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.score_type %></td>
        <td><%= task.have_score %></td>
        <td><%= task.group %></td>
        <td><%= task.sendable %></td>
        <td><%= task.max_send %></td>
        <td><%= task.have_feedback %></td>
        <td><%= link_to 'Detalhes', task %></td>
        <td><%= link_to 'Editar', edit_task_path(task) %></td>
        <td><%= link_to 'Destruir', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Nova Tarefa', new_task_path %>
