<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Score type:</strong>
  <%= @task.score_type %>
</p>

<p>
  <strong>Have score:</strong>
  <%= @task.have_score %>
</p>

<p>
  <strong>Group:</strong>
  <%= @task.group %>
</p>

<p>
  <strong>Send:</strong>
  <%= @task.send %>
</p>

<p>
  <strong>Max send:</strong>
  <%= @task.max_send %>
</p>

<p>
  <strong>Have feedback:</strong>
  <%= @task.have_feedback %>
</p>
<% @bixe_sends_task = BixeSendsTask.new %>
<% @bixe_sends_task.task_id = @task.id %>
<%= @bixe_sends_task.to_json %>
<%= render 'form', task: @task, bixe_sends_task: @bixe_sends_task%>


<%= link_to 'Back', root_path %>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
<%= yield %>