<p id="notice"><%= notice %></p>

<p class="big"><strong><%= @task.name %></strong></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Score type:</strong>
  <%= @task.score_type %>
</p>

<p>
  <strong>Have score:</strong>
  <%= @task.have_score %>
</p>

<p>
  <strong>Group:</strong>
  <%= @task.group %>
</p>

<p>
  <strong>Sendable:</strong>
  <%= @task.sendable %>
</p>

<p>
  <strong>Max send:</strong>
  <%= @task.max_send %>
</p>

<p>
  <strong>Have feedback:</strong>
  <%= @task.have_feedback %>
</p>
<% @bixe_sends_task = BixeSendsTask.new %>
<% @bixe_sends_task.task_id = @task.id %>
<%= render 'form', task: @task, bixe_sends_task: @bixe_sends_task%>


<%= link_to 'Back', root_path %>

<%pictures = BixeSendsTask.where("bixe_id = #{getBixe.id}")%>
<% if pictures == [] %>
  <p class="big">Oops, parece que você ainda não fez nenhum envio!</p>
<%end%>
<% pictures.each do |p| %>
  <div class="card">
    <p>Índice: <%= p.index %></p>
    <p>Validada? <%= p.is_valid %></p>
    <p>Feedback: <%= p.feedback %></p>
    <% if p.photo.attached? %>
      <image src="<%=(url_for(p.photo))%>">
    <% end %>
    <%= link_to 'Excluir foto', p, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>  
<% end %>
<% if current_user.admin == true %>
<table>
  <thead>
    <tr>
      <th>Bixe</th>
      <th>Índice</th>
      <th>Envio</th>
      <th>Válido</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @sent_task.where(task_id: @task.id).each do |t| %>
    <tr>
      <td><%= Bixe.find(t.bixe_id).name %></td>
      <td><%= t.index %></td>
      <td><%= link_to "Envio", t %></td>
      <td><%= t.is_valid %></td>
      <td><%= t.feedback %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>

<%= yield %>
<style>
.big {
  font-size: 30px;
  font-color: "red";
}
.card {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: lightblue;
}
</style>