  <p class="big"><strong>Tarefa: <%= @task.name %></strong></p>

  <div class ="description_wrapper">
      <strong>Descrição:</strong> <%= @task.description %></br>
      <strong>Forma de pontuação: </strong> <%= @task.score_type %></br>
      <% if @task.group == true%>
      <strong>Tarefa de grupo?</strong> Sim.</br>
      <% else%>
      <strong>Tarefa de grupo?</strong> Não.</br>
      <%end%>
      <% if current_user.admin == true %>
        <strong>Have score:</strong> <%= @task.have_score %></br>
        <strong>Sendable:</strong>      <%= @task.sendable %></br>
        <strong>Max send:</strong>      <%= @task.max_send %></br>
        <strong>Have feedback:</strong>      <%= @task.have_feedback %></br>
      <% end %>
  </div>
  <% if @task.sendable %>
    <% if current_user.admin == true %>
      <%= render 'bixe_sends_task_index', task: @task %>
    <% else %>
      <%= render 'specific_bixe_sends_task_index', task: @task %>
    <% end %>
  <% end %>
<%= link_to 'Voltar', root_path %>
<style>
.big {
  font-size: 30px;
  font-color: "red";
}

.status_wrapper {
  font-size: 100%;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.test{
  width: 200px;
  height: 200px;
}
.index{
  font-size: 150%;
}

.description_wrapper{
  font-size: 150%;
  line-height: normal;
}
</style>