<p>Foi criado uma nova tarefa:</p>
  <p>Nome:                  <%= @task.name %></p>
  <p>Descrição:             <%= @task.description %></p>
  <p>Forma de pontuação:    <%= @task.scoring_type %></p>
  <p>Tipo:                  <%= @task.task_type %></p>
  <p>Enviável:              <%= @task.sendable %></p>