<h1>Gincana dos Bixos do Ime</h1>

    <p>Bem vinde!</p>
<br>
<p><%= link_to "Escolha os Eportes", "/select_sport" %>!</p>
<p><%= link_to "Meus envios", "/envios" %>!</p>
<p>Tarefas!</p>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td><%= task.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Times</p>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Pontos</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user.admin == true %>
  <p> Painel de Controle </p>
  <%= link_to 'Bixes', bixes_path%><br>
  <%= link_to 'Profiles', profiles_path%><br>
  <%= link_to 'Serviço', services_path%><br>
  <%= link_to 'Esporte', sports_path%><br>
  <%= link_to 'Tarefa', tasks_path%><br>
  <%= link_to 'Time', teams_path%><br>
  <%= link_to 'Feedback', bixe_sends_tasks_path%><br>
<% end %>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
<%= yield %>
