  <% if @user.admin == true %>
    <h1>Seja bem vinde, admin cujo email é <%= @user.email %>!</h1>
  <% else if getTeamFromSession == nil%>
    <h1>Seja bem vinde, <%= getNewcomerFromSession.name %>!</br> </h1>
 <% else %>
    <h1>Seja bem vinde, <%= getNewcomerFromSession.name %> do time <%= getTeamFromSession.name %>!</br> </h1>
  <%end%>
  <%end%>
   <div class="tasks_wrapper">

    <h2>Tarefas:</h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.name, task %></td>
            <td><%= task.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tasks_wrapper">
    <h2>Times</h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Pontos</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td><%= team.score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @user.admin == true %>
  <div class="tasks_wrapper">
    <h2> Painel de Controle </h2>
    <%= link_to 'Bixes', newcomers_path%><br>
    <%= link_to 'Esportes', sports_path%><br>
    <%= link_to 'Tarefas', tasks_path%><br>
    <%= link_to 'Times', teams_path%><br>
    <%= link_to 'Feedback', newcomer_sends_tasks_path%><br>
  </div>
  <% end %>

  <%= yield %>
<style>

.tasks_wrapper {
  border: 1px solid black;
  margin: 1% 1% 0% 0%;
  padding: 1% 1% 1% 1%;
  background-color: #c6d9ec;
}
</style>
