<h1>Selecione esportes que tem interesse</h1>
<table>
  <tbody>
    <% @sports.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <% @bixe_id = RelUserBixe.find_by_user_id(current_user.id).bixe_id %>
        <% if !RelBixeSport.exists?(bixe_id: @bixe_id, sport_id: s.id) %>
          <%= form_for @relsport do |f| %>
            <td>
            <%= f.hidden_field :bixe_id, :value=>@bixe_id %>
            <%= f.hidden_field :sport_id, :value=>s.id%>
            <%= f.submit "Participar" %>
            </td>
          <%end%>
        <% else %>
            <td><%= link_to 'Destroy', rel_bixe_sport_path( RelBixeSport.where(bixe_id: @bixe_id, sport_id: s.id).first ), method: :delete%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path %>
