<%= form_with(model: newcomer, local: true, class: "newcomer_form") do |form| %>
  <% if newcomer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newcomer.errors.count, "error") %> prohibited this bix from being saved:</h2>

      <ul>
      <% newcomer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nome completo" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Telefone" %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label "Curso" %>
    <% @courses = Course.all %>
    <%= form.select "course_id",  @courses.collect{|course| [course.name, course.id]}%>
  </div>


  <div class="field">
    <%= form.label "Gostaria de ter um veterano tutor" %>
    <%= form.check_box :tutor %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar dados" %>
  </div>
<% end %>
