  
  <h1>Bixes não validados</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Curso</th>
        <th>Deseja tutor?</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @not_valid_newcomers.each do |nc| %>
        <tr>
          <td><%= nc.name %></td>
          <td><%= nc.telephone %></td>
          <td><%= getCourse(nc).alias %></td>
          <td><%= desireTutor(nc) %></td>
          <td><%= link_to 'Detalhes', nc %></td>
          <td><%= link_to 'Editar', edit_newcomer_path(nc) %></td>
          <td><%= link_to 'Excluir', nc, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          <td>
            <%= form_tag(validate_newcomer_path, method: :put) do %>
              <%= hidden_field_tag :newcomer_id, nc.id %>
              <%= submit_tag 'Validar' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <h1>Bixes validados</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Curso</th>
        <th>Deseja tutor?</th>
        <th>Time</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @valid_newcomers.each do |nc| %>
        <tr>
          <td><%= nc.name %></td>
          <td><%= nc.telephone %></td>
          <td><%= getCourse(nc).alias %></td>
          <td><%= desireTutor(nc) %></td>
          <td><%= getTeam(nc).name %></td>
          <td><%= link_to 'Detalhes', nc %></td>
          <td><%= link_to 'Editar', edit_newcomer_path(nc) %></td>
          <td><%= link_to 'Excluir', nc, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          <td>
          <%= form_tag(invalidate_newcomer_path, method: :put) do %>
            <%= hidden_field_tag :newcomer_id, nc.id %>
            <%= submit_tag 'Invalidar' %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'Volta', root_path %>

