<p id="notice"><%= notice %></p>

<h1>Bixe Sends Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Bixe</th>
      <th>Task</th>
      <th>Is valid</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bixe_sends_tasks.each do |bixe_sends_task| %>
      <tr>
        <td><%= bixe_sends_task.bixe_id %></td>
        <td><%= bixe_sends_task.task_id %></td>
        <td><%= bixe_sends_task.is_valid %></td>
        <td><%= bixe_sends_task.score %></td>
        <td><%= link_to 'Show', bixe_sends_task %></td>
        <td><%= link_to 'Edit', edit_bixe_sends_task_path(bixe_sends_task) %></td>
        <td><%= link_to 'Destroy', bixe_sends_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bixe Sends Task', new_bixe_sends_task_path %>
