<% if current_user.admin == false %>
  <p>Vizualize seu envio!</p>
  <% end %>
  
  <p>
    <strong>Tarefa:</strong>
    <%= getTask(@bixe_sends_task).name %>
  </p>
  <p>
    <strong>Índice:</strong>
    <%= @bixe_sends_task.index %>
  </p>
  <p>
    <strong>Foi validado?</strong>
    <%= @bixe_sends_task.is_valid %>
  </p>
  <p>
    <strong>Feedback:</strong>
    <%= @bixe_sends_task.feedback %>
  </p>

<% if current_user.admin == true %>
  <p>
    <strong>Bixe:</strong>
    <%= getBixe(@bixe_sends_task).name %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= @bixe_sends_task.score %>
  </p>
<% end %>

<% if @bixe_sends_task.photo.attached? %>
  <image src="<%=(url_for(@bixe_sends_task.photo))%>">
<% end %>


<%= link_to 'Edit', edit_bixe_sends_task_path(@bixe_sends_task) %> |
<%= link_to 'Back', task_path(@bixe_sends_task.task_id) %>
