<p id="notice"><%= notice %></p>

<% if current_user.admin == false %>
  <p>Vizualize seu envio!</p>
  <p>
    <strong>Task:</strong>
    <%= @bixe_sends_task.task_id %>
  </p>
  <p>
    <strong>Índice:</strong>
    <%= @bixe_sends_task.index %>
  </p>
  <p>
    <strong>Foi validado?</strong>
    <%= @bixe_sends_task.is_valid %>
  </p>
  <p>
    <strong>Feedback:</strong>
    <%= @bixe_sends_task.feedback %>
  </p>
<% end %>


<% if @bixe_sends_task.photo.attached? %>
<image src="<%=(url_for(@bixe_sends_task.photo))%>">
<% end %>

<% if current_user.admin == true %>
  <p>
    <strong>Bixe:</strong>
    <%= @bixe_sends_task.bixe_id %>
  </p>

  

  <p>
    <strong>Is valid:</strong>
    <%= @bixe_sends_task.is_valid %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= @bixe_sends_task.score %>
  </p>
<% end %>


<%= link_to 'Edit', edit_bixe_sends_task_path(@bixe_sends_task) %> |
<%= link_to 'Back', bixe_sends_tasks_path %>
