<h1>Gincana dos Bixos do Ime</h1>

    <p>Bem vinde!</p>

<p> Painel de Controle </p>
<%= link_to 'Bixes', bixes_path%><br>
<%= link_to 'Profiles', profiles_path%><br>
<%= link_to 'Serviço', services_path%><br>
<%= link_to 'Esporte', sports_path%><br>
<%= link_to 'Tarefa', tasks_path%><br>
<%= link_to 'Time', teams_path%><br>
