<h1>Editar Bixe</h1>

<%bixe = @bixe%>
<%= form_with(model: @bixe, local: true) do |form| %>
    <% if bixe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bixe.errors.count, "error") %> prohibited this bix from being saved:</h2>
  
        <ul>
        <% bixe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <p class="big">Nome: <%= @bixe.name %></p>
    <p class="big">Curso: <%= getCourse(@bixe).name %></p>
    <div class="field">
      <%= form.label "Validar?" %>
      <%= form.check_box :is_valid %>
    </div>
  
    <div class="field">
      <%= form.label "Time" %>
      <% @teams = Team.all %>
      <%= form.select "team_id",  @teams.collect{|team| [team.name, team.id]}%>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

<%= link_to 'Show', @bixe %> |
<%= link_to 'Back', bixes_path %>
