<p>
  <strong>Nome:</strong>
  <%= @bixe.name %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @bixe.telephone %>
</p>

<p>
  <% @course = getCourse(@bixe) %>
  <strong>Curso:</strong>
  <%= @course.nickname %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @bixe.tutor %>
</p>

<p>
  <strong>Validado?:</strong>
  <%= @bixe.is_valid %>
</p>

<p>
  <strong>Time:</strong>
  <% if  @bixe.team_id != nil %>
    <%= Team.find(@bixe.team_id).name %>
  <%end%>
</p>

<%= link_to 'Editar', edit_bix_path(@bixe) %> |
<%= link_to 'Volta', bixes_path %>
