<h1>Gincana dos Bixos do Ime</h1>


    <%= link_to 'Criar novo Usuário!', new_user_path %>
    <%= link_to 'Lista de usuários!', users_path %><br>
    <%= link_to 'Criar novo Bixe!', new_bix_path %><br>
    <%= link_to 'Criar nova Prova!', new_task_path %><br>
    <%= link_to 'Criar novo Time!', new_team_path %>
    <%= link_to 'Lista de Times!', teams_path %><br>