<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag %>
    <%= include_gon %>
    <%= csrf_meta_tag %>

    <title>GincanaBixesIme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  

    <header>
      <ul class="navbar">
        <li class ="menutitulo"><%= link_to "Gincana dos Bixes do Ime", root_path, {:style => 'color: #FFFFFF;'} %></li>
        <div class="links_wrapper">
          <% if current_user != nil && current_user.admin %>
            <li class="navi_item"><%= link_to "Esportes", sports_path, {:style => 'color: #FFFFFF;', :class => "link"} %></li>
          <% else %>
            <li class="navi_item"><%= link_to "Esportes", "/newcomer_sports_index", {:style => 'color: #FFFFFF;', :class => "link"} %></li>
          <% end %>
          <li class="navi_item"><%= render 'devise/menu/navibar_registration_items'%></li>
          <li class="navi_item"><%= render 'devise/menu/navibar_login_items'%></li>
        </div>
      </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="page_wrapper">
      <%= yield %>
    </div>
  </body>
</html>

